.projects {
  gap: 50px;
}

.projectCard {
  height: fit-content;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.projectInfo {
  padding: 2rem;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  line-height: 25px;
  gap: 2rem;
  height: 100%;
  background-color: var(--surface);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);

  .techContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .tech {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  * {
    margin: 0;
  }
}

.projectImage {
  height: auto;
  max-height: 30rem;
  border-radius: var(--radius-md);
  border: 2px solid var(--border);
  transition: transform var(--transition-normal);

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;

  a {
    background-color: var(--accent);
    width: 80px;
    font-size: var(--fs-base);
    padding: 10px;
    text-align: center;
    border-radius: var(--radius-md);
    border: 1px solid var(--border-light);
    color: var(--text);
    text-decoration: none;
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.28);
    transition:
      background-color var(--transition-normal),
      transform var(--transition-normal);

    &:hover {
      background-color: var(--accent-hover);
      transform: translateY(-3px);
    }
    &:active {
      background-color: var(--accent-hover);
      transform: translateY(-3px);
    }
  }
}

@media (max-width: 768px) {
  .projectCard {
    flex-direction: column;
    width: fit-content;
    max-width: 400px;
  }
}
