.projects {
  gap: 50px;
  width: 90%;
  justify-self: center;

  a {
    width: fit-content;
    justify-self: center;
  }
}

.projectCard {
  padding: 50px;
  display: grid;
  grid-template-columns: 320px 1fr;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;

  &:first-of-type {
    padding: 0 50px 50px 50px;
  }
}

.projectInfo {
  padding: 2rem;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  line-height: 25px;
  gap: 2rem;
  height: 100%;
  background-color: var(--surface);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);

  .techContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .tech {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  * {
    margin: 0;
  }
}

.projectImage {
  height: auto;
  max-height: 30rem;
  border-radius: var(--radius-md);
  border: 2px solid var(--border);
  transition: transform var(--transition-normal);

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;

  a {
    background-color: var(--accent);
    width: 100px;
    font-size: var(--fs-base);
    padding: 10px;
    text-align: center;
    border-radius: var(--radius-md);
    border: 1px solid var(--border-light);
    color: var(--text);
    text-decoration: none;
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.28);
    transition:
      background-color var(--transition-normal),
      transform var(--transition-normal);

    &:hover {
      background-color: var(--accent-hover);
      transform: translateY(-3px);
    }
    &:active {
      background-color: var(--accent-hover);
      transform: translateY(-3px);
    }
  }
}

@media (max-width: 1040px) {
  .projects {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .projectCard {
    grid-template-columns: 1fr;
    width: fit-content;
    padding: 20px;
    &:first-of-type {
      padding: 0 20px 20px 20px;
    }
  }

  .projectInfo {
    width: 70%;
    justify-self: center;
  }

  .projects {
    gap: 10px;
  }
}

@media (max-width: 530px) {
  .projectInfo {
    width: 100%;
  }

  .projectImage {
    max-height: 25rem;
  }
}
