@use "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.title {
  font-size: var(--fs-2xl);
}

@media (max-width: 768px) {
  .title {
    font-size: var(--fs-xl);
  }

  p {
    font-size: var(--fs-sm);
  }
}
