@use "./variables";
@use "./global";

* {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg);
  color: var(--text);
}

body {
  margin: 0;
}

section {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:first-child {
    margin: 0;
    padding: 0;
  }
}

#about,
#home,
#projects,
#contact {
  scroll-margin-top: 55px;
}

.appShell {
  min-height: 100dvh;
  width: 100%;
}

@media (max-width: 768px) {
  section {
    margin-top: 0;

    &:first-child {
      margin: 0;
      padding: 0;
    }
  }
}
